In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression # LogisticRegression Model from sklearn
from sklearn.metrics import classification_report, confusion_matrix,roc_curve
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
sample1 = pd.DataFrame({ 'A': [14 , 6,float('nan'),9,float('nan')]  ,
                        'B': [float('nan') , 6,float('nan'),9,float('nan')]
                        
                         })
sample1

      A    B
0  14.0  NaN
1   6.0  6.0
2   NaN  NaN
3   9.0  9.0
4   NaN  NaN

In [15]:
sample1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      float64
 1   B       2 non-null      float64
dtypes: float64(2)
memory usage: 212.0 bytes

In [17]:
sample1.ffill(inplace= True)
sample1

      A    B
0  14.0  NaN
1   6.0  6.0
2   6.0  6.0
3   9.0  9.0
4   9.0  9.0

In [18]:
sample1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      float64
 1   B       4 non-null      float64
dtypes: float64(2)
memory usage: 212.0 bytes